body{
	font-family: Arial;
}

.container{
	display: grid;
	/*grid-template-columns: 25% 200px 25%;
	grid-template-rows: 300px 300px;*/

	grid-template: 300px 100px 100px / repeat(4,minmax(200px, 1fr));
	/*grid-column-gap: 30px;
	grid-row-gap: 50px;*/
	grid-gap: 10px;
}

.item{
	background-color: lightblue;
	padding: 10px;
	border: 1px solid red;
	overflow: auto;
}

.item:nth-of-type(4){
	background-color: blue;
	/*display: subgrid;*/
	/*display: inline-grid;*/
	display: grid;
	grid-template: 50px 50px 50px / 200px 200px 200px;
}

.item .item{
	background-color: yellow;
}